<div>
  <h2 *ngIf="firstTime"><strong>First Attmept</strong></h2>
  <img src="../../assets/QQ/{{quiz}}.PNG">
  <br>
  <form (submit)="onSubmit($event)">
    Question 1
    <input type="text" placeholder="Answer" id="q1">
    Question 2
    <input type="text" placeholder="Answer" id="q2">
    <br>
    Question 3
    <input type="text" placeholder="Answer" id="q3">
    Question 4
    <input type="text" placeholder="Answer" id="q4">
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <div *ngIf="submitted">
    <br>
    <h3>You got a {{grade}}%</h3>
    <h3 *ngIf="corrected">
      This is your Corrected Grade
    </h3>
  </div>
  <br>
  <button *ngIf="next" type="button" (click) = "onNext()" class="btn btn-success">Next</button>
  <a routerLink="/user"><button type="button" class="btn btn-primary">Back</button></a>


</div>