<div>
<!--
  <form #testForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <ul class="currTest.test">
      <li *ngFor="let bank of currTest.test">
        {{bank.question}}<br>
        <label>
        <input type="radio" name={{bank.id}} value="a" [(ngModel)]="answers[bank.id]">
          {{bank.a}}
        </label><br/>
        <label>
        <input type="radio" name={{bank.id}} value="b" [(ngModel)]="answers[bank.id]">
          {{bank.b}}
        </label><br/>
        <label>
        <input type="radio" name={{bank.id}} value="c" [(ngModel)]="answers[bank.id]">
          {{bank.c}}
        </label><br/>
        <label>
        <input type="radio" name={{bank.id}} value="d" [(ngModel)]="answers[bank.id]">
          {{bank.d}}
        </label>
      </li>
    </ul>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
-->
  <img src="../../assets/QQ/{{quiz}}.PNG">
  <br>
  <form (submit)="onSubmit($event)">
    Question 1
    <input type="text" placeholder="Answer" id="q1">
    Question 2
    <input type="text" placeholder="Answer" id="q2">
    <br>
    Question 3
    <input type="text" placeholder="Answer" id="q3">
    Question 4
    <input type="text" placeholder="Answer" id="q4">
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <div *ngIf="submitted">
    <br>
    <h3>You got a {{grade}}%</h3>
    <br>
  </div>
  <br>
  <a routerLink="/user"><button type="button" class="btn btn-primary">Back</button></a>


</div>